<div class="form">
  <h3>Post Message</h3>
  <%= form_for @post do |f| %>

    <% if @post.errors.present? %>
      <div class="errors">
        <h1>There was an error</h1>
        <ul class="error-list">
          <% @diva.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :body, class: "form-label" %>
      <%= f.text_area :body, :size => "25x5" %>
    </p>

    <p>
      <%= f.submit "Submit Post", class: "submit-post" %>
    </p>

  <% end %>
</div>
